body{
    background-image: linear-gradient(to right, rgb(12, 5, 9), rgb(32, 17, 145));
}


.custom-cards {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    padding: 1rem;
    
    border-color: #3a67cb;
    color: azure;

    text-align: center;
}

.list-group{
    border-top: initial !important;
}